@use "../../_breakpoints" as bp;

.fees-inline-form {
  margin: 0;
}

.fees-table-view {
  display: block;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.fees-mobile-list-view {
  display: none;
  height: 100%;
  min-height: 0;
  overflow: auto;
}

@media (max-width: bp.$breakpoint-phone) {
  .fees-table-view {
    display: none;
  }

  .fees-mobile-list-view {
    display: block;
  }
}
