@use "../../../breakpoints" as bp;

.fee-csv-form {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: var(--spacing-sm);
  align-items: end;
}

@media (max-width: bp.$breakpoint-tablet-landscape) {
  .fee-csv-form {
    grid-template-columns: 1fr;
  }
}
