$breakpoint-wide-desktop: 1440px;
$breakpoint-small-desktop: 1068px;
$breakpoint-tablet-landscape: 834px;
$breakpoint-tablet-portrait: 734px;
$breakpoint-phone: 640px;
$breakpoint-small-phone: 480px;
